* { 
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; 
	border:0px;
	margin:0px;
        
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}

body{
	background-image:url('../img/background.jpg')  ;
}

h1{
	display:inline;
	color:#ccffff;
	
}


#loginBox{
	width:30%;
	background-color:white;
	background:rgba(255,255,255,0.3);
	height:100%;
	float:left;

}
#loginText{

    padding:20%;
	height:30%;
	font-size:22px;
}

.loginContent{
	width:80%;
	margin:auto;
	height:100%;
	text-align:center;
	/*
	width: 100vw;
	height: 100vh;
	width : calc(100vw - 100px);
	*/
}

#username,#id,#password{
	margin:auto;
	width:100%;
	height:7%;
	background-color:white;
	margin-bottom:4%;
	outline:none;
	border:3px solid #434343;
	text-decoration:none;
	opacity:0.8;
    font-size:30px;
    
    padding-left:10px;
}

#id{
	margin-top:6%;
}               

#password{
	margin-bottom:9%;
}

#login{

	margin:auto;
	margin-top:0px;
	width:100%;
	height:8%;
	color:white;
	font-size:25px;
    font-weight:900;
	background-color:#31B7F0;
	border:none        ;
	outline:none;
	
    font-family: 'Open Sans', sans-serif;
	margin-bottom:7%;
}

#sign{
    
    font-weight:900;
    font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-size:40px;
	color:white;
}



