<!DOCTYPE html>
<html>
<head>
	<title>WebGame</title>
	<meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>

	<div id="loginBox">
		
		<div id="loginText">
            <h1>ang</h1>
		</div>

		<div class="loginContent">

			<input type="textbox" id="id" placeholder="ID">
			<input type="textbox" id="password" placeholder="Password">
		
			<input type="button" id="login" value="Login">

			<a id="sign" href="#">Sign Up</a>

		</div>

	</div> 

    <script type="text/javascript" src="js_webPage/login.js"></script>
</body>
</html>